.add-produto  {
    border-top: 1.5px solid #000;
}

form  {
    display: flex;
    flex-direction: column;
}

form input  {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

input[type="submit"]  {
    align-self: self-start;
}